body {
    background-color: #9AC1C1;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

h1, h2, h3, h4, h5 {
    color: #183737;
    text-align: center;
    text-decoration-style: solid;
    font-family: 'Montserrat', sans-serif;
}

h6 {
    text-decoration-style: solid;
    color: #183737;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-decoration-style: solid;
    color: #183737;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: 3px;
    margin-bottom: 3px;
}

.card {
    margin-top: 3px;
    margin-bottom: 3px;
}

#port-cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#feat-cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
}

#des-cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;  
}

#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#featured {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    text-align: center;
}

#featured-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}

#my-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    text-align: center;
}

#contact-me-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.port-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 75%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#jumbo-pic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
    margin-top: 8%;
}

#jumbo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}

.design {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#projects {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
}

footer {
    text-align: center;
    color: #3B8686;
    background-color: #ECF1F2;
}