a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #489395;
}

html {
    background-color: #489395;
}

body {
    overflow-x: hidden;
    background-color: #489395;
    padding: 1px;
}

h1, h2, h3 {
    color: #489395;
    text-align: center;
    text-decoration-style: solid;
    font-family: 'Damion', cursive;
    font-weight: 700;
}

h4, h5 {
    text-decoration-style: solid;
    color: #e8a87c;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: 700;
}

h6 {
    vertical-align: middle;
    margin-top: 15%;
    margin-right: 30%;
    color: #ECF1F2;
    text-decoration-style: solid;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

p {
    vertical-align: middle;
    text-decoration-style: solid;
    font-family: 'Titillium Web', sans-serif;
}

p.small { font-size: 16px; }

/* Navigation Bar Styles
/* -------------------------------------*/
.navbar {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #489395;
}
.navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #e8a87c;
	background-color: transparent;
}

.navbar-default {
    background-color: #ECF1F2;
    border-color: transparent;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-default .navbar-brand {
    color: #489395;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #489395;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ECF1F2;
    background-color: #489395;
}

.navbar-default .navbar-toggle {
    border-color: #ECF1F2;
	color: #489395;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.wow {
    visibility: hidden;
    margin-top: 1%;
  }

.container {
    margin-top: 1px;
    margin-bottom: 1px;
}

.card {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#port-cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 80%;
}

.port-page {
    background-color: #489395;
}

#feat-cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 80%; 
}
#des-cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
}

.cont-page {
    background-color: #489395;
}

.projects-page {
    background-color: #ECF1F2;
}

#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 80%;
}

#featured {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 80%; 
    text-align: center;
}

#featured-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 50%; 
}

#my-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 80%; 
    text-align: center;
}

#contact-me-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 60%;
}

.port-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 60%;
    height: 75%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
}

#jumbo-pic {
    margin-left: 30%;
    width: 80%;
    margin-top: 5%;
}

#jumbo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 1px;
    width: 80%;
    text-align: center;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 60%; 
}

.design {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.design-cont {
    background-color: #ECF1F2;
}

#projects {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 80%;
    text-align: center;
    color: #3B8686;
    
}

.web {
    
    background-color: #ECF1F2;
}

.game {
    background-color: #ECF1F2;
}

.apps {
    
    background-color: #ECF1F2;
}


footer {
    text-align: center;
    background-color: #489395;
}

/*modal
/*-------------------------------*/
.fliter-modal {
    display: none; 
   position: fixed; 
   z-index: 1; 
   padding-top: 100px; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.fliter-modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
}
.fliter-modal-close {
   float:right;
   font-size: 20px;
   font-weight: bold;
   font-family: 'Titillium Web', sans-serif;
   color:#262626;
}
.fliter-modal-close:hover{
   color: gray;
   cursor: pointer;
}

input[type=text],
input[type=email],
textarea {
   display: block;
   width: 100%;
   color: black;
}
input[type=text],
input[type=email],
textarea {
   height: 35px;
   border: 1px solid #ddd;
   padding: 0 10px;
   font-size: 14px;
}
textarea {
   height: 200px;
}
input[type=submit] {
   background: #141414;
   border: 0 none;
   color: #fff;
   font-size: 18px;
   padding: 10px 30px;
   cursor: pointer;
}

label{
   float: left;
   padding:1%;
}

.fa-envelope:hover {
   cursor: pointer;

}

/*-------------------------------*/
.img-responsive h3{
   color:black;
}

.row{
   margin-top:2%;
}


@media screen and (max-width: 840px) {

.fliter-modal-content {
   background-color: #fefefe;
   margin-left: 27%;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
   float: left;
   }
}


@media screen and (max-width: 640px) {

.fliter-modal-content {
   background-color: #fefefe;
   margin-left: 15%;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
   float: left;
   }
}

.jumbotronOne{background-color: #489395!important;}

.jumbotronTwo{background-color: #ECF1F2!important;}

.jumbotronThree{background-color: #ECF1F2!important;}
.jumbotronFour{background-color: #ECF1F2!important;}
.jumbotronFive{background-color: #FFF!important;}